.description-box {
  max-width: 67vmax;
  color: rgb(230, 230, 230);
  text-shadow: 0px 0px 10px rgb(196, 145, 103);
  margin: 2vmax auto;
  border-radius: 1vmax;
  text-align: center;
  align-items: center;
  justify-content: center;
}