.miniAvatar {
  width: 80px;
  padding-bottom: 10px;
  grid-column: 1;
  align-items: left;
}
.verticalCenter {
  top: -20%;
  left: 7.5rem;
  position:relative;
  transform: translate(-50%, 50%);
  grid-column: 2;
}
#participantsText {
  display: inline-grid;
  margin: auto;
  align-items: center;
  grid-template-columns: auto auto;
  font-size: 1.2rem;
  padding: 20px 0;
  text-align: left;
}