@keyframes appearElement {
  from {
    height: auto;
  }
  to {
    height: auto;
  }
}
button {
  color: azure;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 2rem;
  width: 20vmax;
  height: 10vmax;
  border-radius: 20px;
  border-width: 0.3vmax;
  border-style: solid;
  border-color: #7cbbce;
  font-style: italic;
  opacity: 0.75;
  transition: ease-in-out 0.3s;
}
button:hover {
  animation: transitionIn;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 1;
  transition: ease-in-out 0.3s;
}
button::after {
  height: 0px;
  width: 0px;
}

.gameContainer {
  transition: all 0.75s ease-in-out;
  max-height: auto;
}

.gameObjects {
  overflow: hidden;
  transition: all 0.75s ease-in-out;
}

.dayGridBox {
  display: inline-grid;
  margin: auto;
  align-items: center;
  grid-template-columns: auto;
  font-size: 1.2rem;
  padding: 20px 0;
}

.nightGridBox {
  display: inline-grid;
  margin: auto;
  align-items: center;
  grid-template-columns: auto;
  font-size: 1.2rem;
  padding: 20px 0;
}

.miniAvatar {
  width: 90px;
  grid-column: 1;
  align-items: left;
  border-style: solid;
  border-width: 0.3rem;
  border-color: rgb(128, 0, 0);
  margin: 0.1125rem 0.25rem;
}

.miniAvatarKiller {
  width: 90px;
  grid-column: 1;
  align-items: left;
  border-style: solid;
  border-width: 0.3rem;
  border-color: green;
  margin: 0.1125rem 0.25rem;
}
.miniAvatarInteraction {
  width: 90px;
  grid-column: 1;
  align-items: left;
  border-style: solid;
  border-width: 0.3rem;
  border-color: rgb(223, 223, 223);
  margin: 0.1125rem 0.25rem;
}
.miniAvatarWinner {
  width: 120px;
  grid-column: 1;
  align-items: left;
  border-style: solid;
  border-width: 0.3rem;
  border-color: rgb(223, 223, 223);
}

.verticalCenter {
  display: block;
  top: -40%;
  font-size: 2rem;
}

.dayParagraph {
  font-size: 2rem;
  margin: 0;
  color: rgba(231, 225, 143, 0.9);
  text-align: center;
}

.nightParagraph {
  font-size: 2rem;
  margin: 0;
  color: rgba(108, 163, 214, 0.9);
  text-align: center;
}

.winnerParagraph {
  font-size: 3rem;
  margin: 0;
  color: rgb(223, 223, 223);
  text-align: center;
}